body{
    margin: 10px;
    padding: 5px;
    color: #070707cb;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://thumbs.dreamstime.com/b/bmi-inscription-texture-wooden-cubes-background-calculator-business-documents-financial-economic-theme-255752310.jpg");
    background-size: cover;
    background-position: center;
}
span{
    color: red;
}
nav{
    display: flex;  
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #33d60acb;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #33d60acb;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.wrapper{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
    padding: 15px;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0)0px 20px 30px -10px;
}
input{
    outline: none;
    border: 1px solid #070707;
    padding: 5px;   
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}
button span{
    background: #33d60acb;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: 100%;
}